name: ESP32

# run
# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#onschedule
# add something
on:
  push:
  pull_request:
    paths:
      - ".github/workflows/build_esp32s3.yml"
      - "micropython-modules/microlite/**"
      - "micropython-modules/micropython-camera-driver/**"
      

jobs:
  tensorflow_micropython_esp32s3_build: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build ESP32S3-MICROLITE SPIRAM - 8MB Flash New
        run: |
          source ./scripts/build.sh && prepare_dependencies
          echo "CODECONTENTS=$(cat ./dependencies/micropython/tools/ci.sh)"
          source ./dependencies/micropython/tools/ci.sh && ci_esp32_idf50_setup
          echo "BUILDING MICROLITE_S3_SPIRAM"
          source ./scripts/build.sh && build_esp32 "MICROLITE_S3_SPIRAM"
          TARGET=$(pwd)/dependencies/micropython/ports/esp32
          echo "TARGET=$TARGET"
          ./scripts/assemble-unified-image-esp.sh $TARGET 
          ls $TARGET/build-MICROLITE_S3_SPIRAM
        shell: bash

      - name: Archive ESP32-MICROLITE with SPIRAM - 8 MB Flash firmware
        uses: actions/upload-artifact@v3
        with:
          name: microlite-esp32-firmware
          path: /home/runner/work/upython/upython/dependencies/micropython/ports/esp32/MICROLITE_S3_SPIRAM/build/firmware_s3.bin

    
